<?php
/**
 * Example database config for the Dropbox source
 *
 * @package cakebox
 * @author Kyle Robinson Young <kyle at dontkry.com>
 * @copyright 2012 Kyle Robinson Young
 */
class DATABASE_CONFIG {
	public $dropbox = array(
		'datasource' => 'Dropbox.DropboxSource',
		'consumer_key' => 'CONSUMER KEY HERE',
		'consumer_secret' => 'CONSUMER SECRET HERE',
	);
}
